/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@import './assets/styles/tables.scss';


.ziti-page-container {
  position: absolute;
  height: 100%;
  width: calc(100% - 70px);
  display: flex;
  flex-direction: column;

  .searchButton {
    display: none;
  }
}

.ziti-page-container .filters {
  position: relative !important;
  width: 100% !important;
  height: 60px !important;
  background-color: var(--shaded) !important;
  border-radius: 50px !important;
  padding: 10px !important;
}
